.player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.player img {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 50px;
}

.player iframe {
    border-radius: 10px;
}

.player-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

@media (max-width:600px) {
    .player-info {
        flex-direction: column;
        gap: 10px;
        margin: 10px 0;
    }
}